section
  div.main-content
    h1 Jekyll Starter Kit
    div.row
      div.left-section
        p
          |This is a Jekyll Starter Template which is customized to work with Pug Jade & Sass.<br/>
          |Use this as a base to start your Static Website :)
        ul
          li Jekyll
          li Gulp
          li Pug
          li Sass
          li BrowserSync
      div.right-section
    div.footer
      h2 ANEESH KR
      a(href="mailto:anee.aneeshkr@gmail.com?Subject=GitHub%20Jekyll%20Engine",target="_top") anee.aneeshkr@gmail.com
