section
  .main-content
    .title
      a(href="https://github.com/itzAneesh/starter-kit/archive/gh-pages.zip")
        h1 Jekyll Starter Kit
        //- img(src="../assets/img/download.png")
    .row
      .left-section
        p
          |This is a Jekyll Starter Template which is customized to work with Pug Jade &amp Sass.<br/>
          |Use this as a base to start your Static Website :)
        ul
          li Jekyll
          li Gulp
          li Pug
          li Sass
          li BrowserSync
          li Autoprefixer
      .right-section
    .footer
      h2 ANEESH KR
      a(href="mailto:anee.aneeshkr@gmail.com?Subject=GitHub%20Jekyll%20Engine",target="_top") anee.aneeshkr@gmail.com
